/* html, body {
  height: 100%;
  margin: 0;
} */

body {
  font-family: 'Roboto', sans-serif;
  background-color: red;
}

div {
  /* border-style: solid;
  border-width: 1px; */
  /* border-color: red; */
}

div#outer {
  display: flex;

}

div.spacer {
  flex-grow: 1;
  /* border-color: blue; */
}
